*{
   margin: 0;
   padding:0 ;
   box-sizing: border-box;
   font-family:sans-serif;
   
}
html,body{
   height: 100%;
   width: 100%;
   
}

nav{
   position: fixed;
   background-color: #111;
   display: flex;
   align-items: flex-start;
   width: 100%;
   height: 12vh;
   color: #FFFFFF;
   padding: 2vw 10.4vw;
   z-index: 10;
   justify-content: space-between;
   /* border-bottom: 1px solid #dadada; */
}

.nav-part2{
   display: flex;
   gap: 2vw;
   align-items: flex-start;
   padding : 1vh 0;
   position: relative;
   z-index: 10;
}
.nav-part2 h4{
   font-size: 0.75vw;
   text-transform: uppercase;
   font-weight: 600;
   margin-bottom: 2.6vw;
}
.nav-part2 h5{
   margin-bottom: 1vw;
   display: none;
   overflow: hidden;
}

.nav-part2 h5 span{
   font-size: 0.77vw;
   transform: translateY(25px);
   font-weight: 400;
   display: inline-block;
}

/* nav:hover #nav-bottom{
   height: 150%;
   bottom: -150%;
   background-color: #111;
} */


/* .bottom-div{
   margin-top: 2vw;
   position: absolute;
} */

nav button{
   background-color: #0DA24E;
   display: flex;
   align-items: center;
   padding: 10px 12px;
   font-size: 0.85vw;
   text-transform: uppercase;
   font-weight: 700;
   border-radius: 50px;
   border: none;
}
nav button svg{
   height: 0.85vw;
   margin-left: 1.6vw;
}

#nav-bottom{
   width: 79%;
   height: 0;
   position: absolute;
   background-color:#111 ;
   /* background-color: red; */
   top: 100%;
   z-index: 9;
   border-bottom: 1px solid white;
}

#page1{
   height: 100vh;
   width: 100%;
   background-color: #111;
   display: flex;
   color: #fff;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
}

#page1 h1{
   color: #FFFFFF;
   font-size: 5vw;
   font-weight: 800;
   line-height: 6vw;
}

#page1 .text-block{
   text-align: center;
   font-weight: 400;
   margin-top: 3vh;
   /* font-size: 3vw; */
   margin-bottom: 3vh;
}
#page1 p span{
   color: #0A823E;
}
#moving-div{
   /* background-color: red; */
   margin-top: 10vh;
   position: absolute;
   bottom: 3%;
   /* top:9.5%; */
   width: 44%;
   white-space: nowrap;
   padding: 2vw;
   overflow: hidden;
   
}
#moving-div .move{
   display:inline-block;
   animation-name: move;
   animation-duration: 6s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;

}
#moving-div .move img{
   height: 1vw;
   margin: 0 1.2vw;
}

@keyframes move{
   0%{
      transform:translateX(0);
   }
   100%{
      transform: translateX(-50%);
   }
}

#blur-left{
   height: 100%;
   width: 20%;
   background:linear-gradient(to right,#111,transparent);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;

}
#blur-right{
   height: 100%;
   width: 20%;
   background: linear-gradient(to right, transparent, #111);
   position: absolute;
   top: 0;
   right: 0;
   z-index: 2;
}
#page2{
   height: 100vh;
   width: 100%;
   color: #fff;
   background-color: #111;
   position: relative;
   padding: 2vw 10.4vw;
   padding-bottom: 8vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid #333;
   /* background-color: #0A823E;*/
}
#page2-left{
   height: 100%;
   width: 40%;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-direction: column;
   padding: 3vw 0;
   /* background-color: rgb(65, 64, 64); */
}
#page2-left p{
   font-size: 0.8vw;

}
#page2-left h5{
   width: 75%;
   font-weight: 300;
   font-size: 1.1vw;
   
}
#page2-right{
   height: 100%;
   width: 50%;
   /* background-color: rgb(65, 64, 64); */
}
.right-elem{
   position: relative;
   /* background-color: red; */
   padding-top: 2vw;
   padding-bottom: 5vw;
   border-bottom: 1px solid #333;
}
.right-elem h2{
   font-size: 1.4vw;
   font-weight: 400;
}
.right-elem img{
   height: 7vw;
   width: 7vw;
   border-radius: 50%;
   object-fit: cover;
   position: absolute;
   opacity: 0;
   scale: 0;
}

#page3{
   height: 100vh;
   width: 100%;
   background-color: #111;
   position: relative;
   background-image:url("https://lazarev.kiev.ua/la24/reel-cover.webp") ;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
}
.page3-center{
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 1vw;
}
.page3-center .icon{
   background-color: blue;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:3vw ;
   border-radius: 50%;
   background-color: #fff;
   
}
.page3-center .icon i{
   font-size: 3vw;
   color: #000;
}
.page3-center h5{
   font-size: 0.8vw;
   background-color: white;
   color: black;
   border-radius:50px ;
   margin-top:1vw ;
   padding: 10px 20px;
   font-weight: 700;
   opacity: 0;
   transition: all ease 0.7s;
   text-transform: uppercase;
   transform: translateY(10%);
}
.page3-center:hover h5{
   opacity: 1;
   transform: translateY(0%);
}

#page3 video{
   height: 100%;
   width: 100%;
   position: absolute;
   object-fit: cover;
   transform: scaleX(0.78) scaleY(0);
   opacity: 0;
   border-radius: 30px;
   z-index: 99999;
}

#page4{
   min-height: 100vh;
   width: 100%;
   background-color: #fff;
   position: relative;
}
.section{
   width: 100%;
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 13vh 10vw;
   padding-bottom: 0;
   box-sizing: border-box;
}
.sec-left{
   height: 60vh;
   padding-top: 2vw;
   width: 25%;
   border-top: 2px solid black;
}
.sec-left h2{
   font-size: 3vh;
   font-weight: 500;
   color: black;
   margin: 0;
}
.sec-left p{
   margin-top: 10vh;
   font-size: 1.2vw;

}
.sec-right{
   height: 60vh;
   width: 70%;
   /* background-color: blanchedalmond; */
   position: relative;
}
.sec-right img{
   height: 100%;
   width: 100%;
   object-fit: cover;

}

.sec-right video{
   height: 100%;
   width: 100%;
   position: absolute;

   top: 0;
   left: 0;
   object-fit: cover;
   opacity: 0;
   transition: opacity ease 0.1s;
   
}

#page5{
   padding: 5vh 10vw;
   min-height: 100vh;
   width: 100%;
   background-color: black;
   position: relative;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

#page5 button{
   background-color: #0A823E;
   padding: 1vw 2.5vw;
   font-size: 1vw;
   font-weight: 600;
   border-radius: 50px;
   border: none;
   position: sticky;
   top: 15%;
}
#page5-right{
   width: 70%;
   color: white;
}
#page5-right>p{
   font-size: 1.7vw;
}
#page5-right>p span{
   background-color: red;
   width: 15vw;
   display: inline-block;
}
#page5-content{
   width: 100%;
   margin-top: 5vh;
   padding:5vh 0 ;
   border-top: 2px solid white;
   
}
#page5-content h1{
   font-size: 3vw;
}
#page5-content #flex{
   display: flex;
   margin-top: 4vh;
   margin-bottom: 4vh;
}
#page5-content #flex h4{
   border-radius: 50px;
   border: 1px solid #fff;
   padding: 10px 20px;
   font-weight: 400;
   font-size: 0.8vw;

}
.page5-elem{
   /* border-top: 2px solid gray; */
   display: flex;
   align-items:flex-start ;
   justify-content: space-between;
   padding-top: 3vh;
   padding-bottom: 9vh;
   position: relative;
   overflow: hidden;
}
.page5-elem p{
   width: 55%;
   font-size: 0.8vw;
   position: relative;
   z-index: 8;
}
.page5-elem h3{
   font-size: 1.5vw;
   font-weight: 400;
   position: relative;
   transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
   z-index: 8;
}
.page5-elem i{
   font-size: 1.6vw;
   position: relative;
   transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
   z-index: 8;
}
.over{
   height: 100%;
   width: 100%;
   background-color: #222;
   position: absolute;
   top: 0;
   transform: translateY(-100%); 
   opacity: 0;
   /* display: none; */
   transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.page5-elem:hover{
   border-top: 1px solid rgb(118, 116, 116);
}
.page5-elem:hover h3{ 
   padding-left:1vw;
   

}
.page5-elem:hover i{
   padding-right: 1vw;
} 
.page5-elem:hover .over{
   transform:translateY(0) ;
   /* display: initial; */
   opacity: 1;
}

details > summary:first-of-type{
   list-style:none;
}

.uiux{
   border-top: 1px solid #333;
   padding: 3vh 0;
}
.product{
   border-top: 1px solid #333;
}

#page6{
   min-height: 100vh;
   width: 100%;
   background-color: #fff;
   padding: 10vh 10vw;
}
#page6>h1{
   font-size: 5.5vw;
   color: #000;
   /* background-color: red; */
   padding-left: 23vw;
   padding-right: 5vw;
   line-height: 5.8vw;
   padding-bottom: 10vh;
   border-bottom: 1px solid #dadada;
}
#page6-content{ 
   padding-top: 3vh;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}
#page6-content #right-6{
   width: 72%;

}
#page6-content #right-6 p{
   font-size: 1.5vw;
   color: #000;
   margin-bottom: 5vh;
   width: 80%;
}
#blue-btn{
   width: 15vw;
   height: 3vw;
   border-radius: 100px;
   background-color: #4f5dff;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;

}
#blue-btn h4{
   position: absolute;
   text-transform: uppercase;
   font-weight: 600;
   font-size:0.85vw ;
   
}
#blue-btn h4 i{
   font-size: 1.1vw;
   font-weight: 100;
   margin-left: 1vw;
}
#page6-bottom{
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items: flex-start;
   border-top:1px solid #dadada ;
}

#btm6-part1{
   /* border-right: 1px solid #dadada; */
   width: 40%;
   height: 100%;
}
#btm6-part2{
   /* border-right: 1px solid #dadada; */
   width: 28%;
   height: 100%;
}
#btm6-part3{
   /* border-right: 1px solid #dadada; */
   width: 16%;
   height: 100%;
}
#btm6-part4{
   /* border-right: 1px solid #dadada; */
   width: 17%;
   height: 100%;
}
#btm6-part5{
   width: 13%;
   height: 100%;
}
.btm6-parts{
   padding: 3vh 0.6vh;

}
.btm6-parts h5{
   font-weight: 500;
   font-size: 0.9vw;
   margin-bottom: 4vh;
}
.btm6-parts h4{
   background-color: #111;
   color: white;
   width: 80%;
   padding: 5px 10px;
   margin-bottom: 0.3vh;
   border-radius: 50px;
   font-size: 0.85vw;
   font-weight: 500;
   display: flex;
   align-items: center;
}
.btm6-parts h4 span{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 1.5vw;
   height: 1.5vw;
   background-color: #333;
   padding: 0.5vw;
   border-radius: 50%;
   margin-right: 1vw;
}
#btm6-part2 h4:nth-child(2){
   transform: translateX(0%);
}
#btm6-part2 h4:nth-child(3){
   transform: translateX(10%);
}
#btm6-part2 h4:nth-child(4){
   transform: translateX(20%);
}
#btm6-part2 h4:nth-child(5){
   transform: translateX(30%);
}
#btm6-part2 h4:nth-child(6){
   transform: translateX(40%);
}
#btm6-part2 h4:nth-child(7){
   transform: translateX(50%);
}
#btm6-part3 h4:nth-child(2){
   transform: translateX(0%);
}
#btm6-part3 h4:nth-child(3){
   transform: translateX(10%);
}
#btm6-part4 h4:nth-child(2){
   transform: translateX(0%);
}
#btm6-part4 h4:nth-child(3){
   transform: translateX(10%);
}
#btm6-part4 h4:nth-child(4){
   transform: translateX(20%);
}
#page7{
   height: 100vh;
   background-color: black;
}

/* @media  screen and (max-width: 900px) {
   #page2-left h5{
      padding-bottom: 25vw;
   }
}
@media  screen and (max-width: 900px and ) {
   #page2-left h5{
      padding-bottom: 40vw;
   }
} */
@media screen and (min-width: 750px) and (max-width: 940px) {
   #page2-left h5{
      padding-bottom: 20vw;
   }
}
@media screen and (min-width: 600px) and (max-width: 750px) {
   #page2-left h5{
      padding-bottom: 35vw;
   }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
   #page2-left h5{
      padding-bottom: 40vw;
   }
}
@media screen and (max-width: 600px) {
   #page2-left h5{
      padding-bottom: 400px;
   }
   .nav
   -part2{
      display: none;
   }
}